
@using Mvc.Models

@{
    ViewData["Title"] = "Edit Blog";
    var blogDetail = ViewBag.blog;
    var listCateogry = ViewBag.listCategory;
}

<div class="edit-blog">
    <div class="card px-1">
        <div class="card-header py-0">
            <h4>Edit Blogs</h4>
        </div>
        <div class="card-body p-2 with-50">
            @{ if (blogDetail == null)
                {
                    <div class="row text-center">
                        <h3 class="mx-3">Không tồn tại dữ liệu</h3>
                    </div>
                }
                else
                {
                    @using (Html.BeginForm("updateBlog", "Blog", FormMethod.Post, new { @class = "needs-validation", novalidate = "" }))
                    {
                        <div class="row align-items-center ">
                            <input type="hidden" id="inputEditIdBlog" name="Id" value="@blogDetail.Id" />

                            <div class="col-12 mt-4 has-validation">
                                <label for="inputNewTitleBlog" class="col-form-label">Tiêu đề</label>
                                <input type="text" id="inputEditTitleBlog" class="form-control" name="Title" value="@blogDetail.Title " required>
                                <div class="invalid-tooltip">
                                    Title not null
                                </div>
                            </div>

                            <div class="col-12 mt-4 has-validation">
                                <label for="inputShortDescTitleBlog" class="col-form-label">Mô tả ngắn</label>
                                <input type="text" id="inputEditShortDescTitleBlog" class="form-control" name="Short_Description" value="@blogDetail.Short_Description" required>
                                <div class="invalid-tooltip">
                                    Short Description not null
                                </div>
                            </div>

                            <div class="col-12 mt-4">
                                <label for="inputEditDescTitleBlog" class="col-form-label">Chi tiết</label>
                                <textarea class="form-control" rows="6" id="inputEditDescTitleBlog" name="Description" required>@blogDetail.Description</textarea>
                                <div class="invalid-tooltip">
                                    Description not null
                                </div>
                            </div>

                            <div class="col-md-12 mt-4 input-img-create-blog">
                                <label for="inputEditFile" class="col-form-label">Hình ảnh</label>
                                <input class="form-control-novalidate with-75" name="ImageUrl" id="inputEditFile" value="@blogDetail.ImageUrl" type="file" >
                                @{if (blogDetail.ImageUrl != null)
                                    {
                                        <span>@blogDetail.ImageUrl</span>
                                    }
                                }
                            </div>

                            <div class="col-md-12 mt-4">
                                <label for="inputEditCategory" class="col-form-label">Loại</label>
                                <select id="inputNewCategory" class="form-control-novalidate with-25" name="Category_Id">
                                    @{
                                        foreach (CategoryModel category in listCateogry)
                                        {
                                            if (category.Id == blogDetail.Category_Id)
                                            {
                                                <option selected value="@category.Id">@category.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-md-12 mt-4">
                                <div class="col-md-12">
                                    <label class="col-form-label">Vị trí</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Việt Nam" id="placeEditVietName" checked>
                                    <label class="form-check-label" for="placeEditVietName">
                                        Việt Nam
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Châu Á" id="placeEditAsian">
                                    <label class="form-check-label" for="placeEditAsian">
                                        Châu Á
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Châu Âu" id="placeEditEuro">
                                    <label class="form-check-label" for="placeEditEuro">
                                        Châu Âu
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Châu Mỹ" id="placeEditAmerica">
                                    <label class="form-check-label" for="placeEditAmerica">
                                        Châu Mỹ
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div>
                                    <label class="col-form-label"> Public</label>
                                </div>
                                <div class="form-check">
                                    @{
                                        if (blogDetail.Status)
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="true" id="radioEidtPublicYes" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="true" id="radioEidtPublicYes">
                                        }
                                    }
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    @{
                                        if (blogDetail.Status)
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="false" id="radioEidtPublicNo">
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="false" id="radioEidtPublicNo" checked>
                                        }
                                    }
                                    <label class="form-check-label" for="radioEidtPublicNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <label for="inputEditPublicDate" class="col-form-label">Date public</label>
                                @{
                                    if (blogDetail.Public_Date != null)
                                    {
                                        <input type="date" id="inputEditPublicDate" class="form-control-novalidate with-30" value="@blogDetail.Public_Date.ToString("yyyy-MM-dd")" name="Public_Date" placeholder="MM/dd/yyyy">

                                    }
                                    else
                                    {
                                        <input type="date" id="inputEditPublicDate" class="form-control-novalidate with-30" value="" name="Public_Date" placeholder="MM/dd/yyyy">
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 pt-3 text-center">
                            <button class="btn btn-success c" type="submit">Submit</button>
                            <button class="btn btn-primary" type="button" onclick="editClear()"> Clear</button>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>