
@model BlogDataModel

@{
    ViewData["Title"] = "Edit Blog";
}

<div class="edit-blog">
    <div class="card px-1">
        <div class="card-header py-0">
            <h4>Edit Blogs</h4>
        </div>
        <div class="card-body p-2 with-50">
            @{ if (Model.Blog == null)
                {
                    <div class="row text-center">
                        <h3 class="mx-3">Không tồn tại dữ liệu</h3>
                    </div>
                }
                else
                {
                    @using (Html.BeginForm("updateBlog", "Blog", FormMethod.Post, new { @class = "needs-validation", novalidate = "" }))
                    {
                        <div class="row align-items-center ">
                            <input type="hidden" id="inputEditIdBlog" name="Id" value="@Model.Blog.Id" />

                            <div class="col-12 mt-4 has-validation">
                                <label for="inputNewTitleBlog" class="col-form-label">Tiêu đề</label>
                                <input type="text" id="inputEditTitleBlog" class="form-control" name="Title" value="@Model.Blog.Title " required>
                                <div class="invalid-tooltip">
                                    Title not null
                                </div>
                            </div>

                            <div class="col-12 mt-4 has-validation">
                                <label for="inputShortDescTitleBlog" class="col-form-label">Mô tả ngắn</label>
                                <input type="text" id="inputEditShortDescTitleBlog" class="form-control" name="Short_Description" value="@Model.Blog.Short_Description" required>
                                <div class="invalid-tooltip">
                                    Short Description not null
                                </div>
                            </div>

                            <div class="col-12 mt-4">
                                <label for="inputEditDescTitleBlog" class="col-form-label">Chi tiết</label>
                                <textarea class="form-control" rows="6" id="inputEditDescTitleBlog" name="Description" required>@Model.Blog.Description</textarea>
                                <div class="invalid-tooltip">
                                    Description not null
                                </div>
                            </div>

                            <div class="col-md-12 mt-4 input-img-create-blog">
                                <label for="inputEditFile" class="col-form-label">Hình ảnh</label>
                                <input class="form-control-novalidate with-75" name="ImageUrl" id="inputEditFile" value="@Model.Blog.ImageUrl" type="file">
                                
                            </div>

                            <div class="col-md-12 mt-4">
                                <label for="inputEditCategory" class="col-form-label">Loại</label>
                                <select id="inputNewCategory" class="form-control-novalidate with-25" name="Category_Id">
                                    @{
                                        foreach (CategoryModel category in Model.listCategory)
                                        {
                                            if (category.Id == Model.Blog.Category_Id)
                                            {
                                                <option selected value="@category.Id">@category.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-md-12 mt-4">
                                <div class="col-md-12">
                                    <label class="col-form-label">Vị trí</label>
                                </div>
                                @{
                                    foreach (var pl in Model.listPlace)
                                    {
                                        <div class="form-check">
                                            @Html.CheckBox("placeEdit"+pl.Id, pl.Id == 1 ? true : false, new {@class= "form-check-input" })
                                            <label class="form-check-label" for="placeEditVietName">
                                                @Html.DisplayFor(name=>pl.Name)
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="col-md-12 mt-4">
                                <div>
                                    <label class="col-form-label"> Public</label>
                                </div>
                                <div class="form-check">
                                    @{
                                        if (Model.Blog.Status)
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="true" id="radioEidtPublicYes" checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="true" id="radioEidtPublicYes">
                                        }
                                    }
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    @{
                                        if (Model.Blog.Status)
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="false" id="radioEidtPublicNo">
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="radio" name="Status" value="false" id="radioEidtPublicNo" checked>
                                        }
                                    }
                                    <label class="form-check-label" for="radioEidtPublicNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <label for="inputEditPublicDate" class="col-form-label">Date public</label>
                                @{
                                    if (Model.Blog.Public_Date != null)
                                    {
                                        <input type="date" id="inputEditPublicDate" class="form-control-novalidate with-30" value="@Model.Blog.Public_Date_Str" name="Public_Date" placeholder="MM/dd/yyyy">

                                    }
                                    else
                                    {
                                        <input type="date" id="inputEditPublicDate" class="form-control-novalidate with-30" value="" name="Public_Date" placeholder="MM/dd/yyyy">
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 pt-3 text-center">
                            <button class="btn btn-success c" type="submit">Submit</button>
                            <button class="btn btn-primary" type="button" onclick="editClear()"> Clear</button>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>