@model BlogModel

@{
    ViewData["Title"] = "List Blog";
    var listBlog = ViewBag.listBlog;
}
<div class="list-blog">
    <div class="card px-1">
        <div class="card-header p-0">
            <h4>List Blog</h4>
        </div>
        <div class="card-body">
            <div class="table table-list-blog">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="row-id" scope="col">ID</th>
                            <th class="col-md-4" scope="col">Tin</th>
                            <th class="col-md-1" scope="col">Loại</th>
                            <th class="col-md-1" scope="col">Trạng thái</th>
                            <th class="col-md-1" scope="col">Vị trí</th>
                            <th class="col-md-2" scope="col">Ngày public</th>
                            <th class="col-md-1" scope="col">Edit</th>
                            <th class="" scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BlogModel blog in listBlog)
                        {
                            <tr>
                                <th scope="row">@blog.Id</th>
                                <td>@blog.Title</td>
                                <td>Otto</td>
                                @{
                                    if (blog.Is_active)
                                    {
                                        <td>Yes</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }
                                }
                                <td>@blog.Place</td>
                                <td>
                                    @blog.Public_Date_Str
                                </td>
                                <td>
                                    <a class="link-primary" href='@Url.Action("Edit","Blog")?id=@blog.Id'> <span>Edit</span></a>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger" onclick='deleteBlog(@blog.Id)'>Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>