
@{
    ViewData["Title"] = "Search Blog";
}


<div class="list-search-blog">
    <div class="card px-1">
        <div class="card-header py-0">
            <h4>Search Blog</h4>
        </div>
        <div class="card-body px-1">
            <div class="search-blog py-3">
                <form method="get" action="/blog/Search" enctype="application/x-www-form-urlencoded">
                    <div class="row  align-items-center">
                        <div class="col-md-2">
                            <label for="inputSearchTitleBlog" class="col-form-label">Tiêu đề</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="Title" id="inputSearchTitleBlog" class="form-control " placeholder="Tiêu đề" value="@ViewBag.SearchStr">
                        </div>
                        <div class="col-12 py-3">
                            <button class="btn btn-success" type="submit"> Search</button>
                        </div>
                    </div>
                </form>                
            </div>
            <div class="table table-list-blog">
                <h4>List Blogs</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="row-id" scope="col">ID</th>
                            <th class="col-md-4" scope="col">Tin</th>
                            <th class="col-md-1" scope="col">Loại</th>
                            <th class="col-md-1" scope="col">Trạng thái</th>
                            <th class="col-md-1" scope="col">Vị trí</th>
                            <th class="col-md-2" scope="col">Ngày public</th>
                            <th class="col-md-1" scope="col">Edit</th>
                            <th class="" scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BlogModel blog in ViewBag.listSearchBlog)
                        {
                            <tr>
                                <th scope="row">@blog.Id</th>
                                <td>@blog.Title</td>
                                <td>Otto</td>
                                @{
                                    if (blog.Is_active)
                                    {
                                        <td>Yes</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }
                                }
                                <th>@blog.Place</th>
                                <td>@blog.Public_Date_Str</td>
                                <td>
                                    <a class="link-primary" href='@Url.Action("Edit","Blog")?id=@blog.Id'> <span>Edit</span></a>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger" onclick='deleteBlog(@blog.Id)'>Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
